.icon {
  position: relative;
  display: inline-block;
  top: 8px;
  width: calc(20px + 2vmin);
  height: calc(20px + 2vmin);
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  table-layout: fixed;
  border: none;
}

tr:nth-child(even) {
  background-color: #333333;
}

td {
  text-align: left;
}

#cityValue {
  width: 10vw;
  height: 1.5vw;
  border-radius: 5px;
}

#citySubmit {
  width: 10vw;
  height: 1.75vw;
  border-radius: 5px;
}
